.app {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100vh;
}
.app-header {
  display: flex;
  flex: 1;
  overflow: auto;
}
.content {
  display: flex;
}
@media only screen and (min-width : 768px) {
  .app {
    flex-direction: row;
  }
}